a {text-decoration: none;}
a:link    { color: #2b81af; }
a:visited { color: #753CAB; }
/*a:hover   { color: #96d641; }*/
a:hover   { color: #2b81af; text-decoration: underline; }
/*a:active  { color: #96d641; }*/
a:active  { color: #753CAB; }

body {
    /*background-color: #FFF;*/
    /*font-family: 'Droid Sans', Arial, sans-serif;*/
    font-family: 'Droid Sans', sans-serif;
    /*font-size: 17px;*/
    /*text-align: center;*/
    width: 1060px;
    color: #777;
    padding: 10px;
    margin: auto;
    text-align: center;
}
/*div {
    color: #777;
    padding: 10px;
    margin: auto;
    width: 1060px;
    text-align: center;
    background-color: #888888;
}*/
canvas {
    /*border: 1px solid #CCCCCC;*/
    border: 1px solid #777;
    /*box-shadow: 0 0 10px #888;*/
    margin-bottom: 15px;
}
#splineBackgroundCanvas, #bunnyBackgroundCanvas {
    display: none;
}
input[type='text'] {
    width: 50px;
    /*color: #CCCCCC;*/
    color: #777;
    /*background-color: #888888;*/
    border-style: solid;
    /*border-color: #CCCCCC;*/
    border-color: #777;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
}
input[type='button'] {
    width: 70px;
    /*color: #CCCCCC;*/
    color: #777;
    /*background-color: #888888;*/
    background-color: #F8F8F8;
    margin-left: 10px;
    border-style: solid;
    /*border-color: #CCCCCC;*/
    border-color: #777;
    font-family: 'Droid Sans', sans-serif;
}
input:focus {
    /*outline: solid thin #CCCCCC;*/
    outline: solid 1px #777;
}
label {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 12pt;
    vertical-align: middle;
}
.wrong {
    background-color: #FF8080;
}
.right {
    background-color: #80FF80;
}