/*canvas {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #888;
    margin-bottom: 5px;
}*/

.canvasDiv {
    /*margin-left: -50px;*/
    width: 1060px;
    text-align: center;
}

input[type='text'] {
    width: 80px;
}
label {
    margin-right: 3px;
    margin-left: 3px;
    font-size: 14px;
}
.wrong {
    background-color: #FF8080;
}
.right {
    background-color: #80FF80;
}