input[type='text'] {
    width: 88px;
}
label {
    margin-right: 10px;
    margin-left: 10px;
}
.wrong {
    background-color: #FF8080;
}
.right {
    background-color: #80FF80;
}
#checkAnswers {
    margin-left: 10px;
}